
<div class="row">
    <div class="col l12 m12 s12">
        <div class="row">
            <div class="col l4 m6 s12">
                <app-timer></app-timer>
            </div>
            <div class="col l4 m6 s12">2</div>
            <div class="col l4 m6 s12">3</div>
        </div>
        <div class="row">
            <div class="col l4 m6 s12">1</div>
            <div class="col l4 m6 s12">2</div>
            <div class="col l4 m6 s12">3</div>
        </div>
        <div class="row">
            <div class="col l4 m6 s12">1</div>
            <div class="col l4 m6 s12">2</div>
            <div class="col l4 m6 s12">3</div>
        </div>
    </div>
</div>
