/* You can add global styles to this file, and also import other style files */

html{
    background-color: #156352;
    background: url("./assets/img/devDashBg.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

/*
██ ███    ██ ██████  ██    ██ ████████      ██████  ██       ██████  ██████   █████  ██
██ ████   ██ ██   ██ ██    ██    ██        ██       ██      ██    ██ ██   ██ ██   ██ ██
██ ██ ██  ██ ██████  ██    ██    ██        ██   ███ ██      ██    ██ ██████  ███████ ██
██ ██  ██ ██ ██      ██    ██    ██        ██    ██ ██      ██    ██ ██   ██ ██   ██ ██
██ ██   ████ ██       ██████     ██         ██████  ███████  ██████  ██████  ██   ██ ███████
*/


/* label color */
.input-field label {
 color: #90caf9 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label, input[type=text]:focus + label {
 color: #90caf9 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, input[type=text]:focus {
 border-bottom: 1px solid #90caf9 !important;
 box-shadow: 0 1px 0 0 #90caf9 !important;
}

/*
████████  ██████   █████  ███████ ████████
   ██    ██    ██ ██   ██ ██         ██
   ██    ██    ██ ███████ ███████    ██
   ██    ██    ██ ██   ██      ██    ██
   ██     ██████  ██   ██ ███████    ██
*/
#toast-container{
    width: 200px !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
}

.toast{
    background: rgba(0, 0, 0, 0.2) !important;
    color: #000 !important;
}

/*
 ██████  █████  ██████  ██████
██      ██   ██ ██   ██ ██   ██
██      ███████ ██████  ██   ██
██      ██   ██ ██   ██ ██   ██
 ██████ ██   ██ ██   ██ ██████
*/

.dashboardCard{
    height: 200px;
}
